<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Certficate</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,700|Roboto:100,400,700" rel="stylesheet">
  <style>
    <%= Rails.application.assets.find_asset('certificates_style').to_s %>
  </style>
</head>

<body>
  <%= yield %>
</body>

</html>
